<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}nostalgickr{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="container">
    <header>
      <h1>
        <span style="color: #0063dc;">nostalgick</span><span style="color: #ff0084;">r</span>
      </h1>
      <nav>
        <a href="/">Home</a>
        {% if user_display_name %}
        <a href="/friends" style="margin-left:1em;">Friends</a>
        <a href="/groups" style="margin-left:1em;">Groups</a>
        {% endif %}
        {% block nav_extra %}{% endblock %}
        {% if user_display_name %}
        <span id="user">
            You are {% if user_display_name._content is defined %}{{ user_display_name._content }}{% else %}{{ user_display_name }}{% endif %}
          </span>
        <form action="/logout" method="get">
          <button type="submit">Log Out</button>
        </form>
        {% else %}
        <form action="/login" method="get">
          <button type="submit">Log In with Flickr</button>
        </form>
        {% endif %}
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <hr>
      <div>nostalgickr &copy; {{ now.year }} | <a href="https://github.com/mvexel/nostalgickr">github</a></div>
    </footer>
  </div>
  <script src="/static/main.js" defer></script>
</body>

</html>