{% extends "base.html" %}

{% block nav_extra %}
<a href="/">&laquo; Back to Photo Stream</a>
{% endblock %}

{% block content %}
<h2>Friends' Recently Uploaded Photos</h2>

<div id="dynamic-friends-counter" style="margin:2em 0; text-align:center; color:#666; font-size:1.05em;">Loaded 0 of 0 friends...</div>
<ul class="photo-list" id="friends-list"></ul>
<script>
  window.friendsList = [
    {% for friend in friends %}
    {
      nsid: "{{ friend.nsid }}",
      realname: {{ friend.realname | tojson }},
      username: {{ friend.username | tojson }}
    },
    {% endfor %}
  ];
</script>
{% endblock %}
